{% extends 'base.html.twig' %}

{% block body %}
	<h1>Fioulmarket - Test</h1>

	<div class="gallery cf">
		{% for item in contents %}
			<div>
				<img src="{{ item.urlToImage }}" title="{{ item.urlToImage }}"/>
			</div>
		{% endfor %}
	</div>
{% endblock %}
